		body {
			background-image: url(bg.png);
			font-family: Tahoma;
		}
		
		#frame {
			background-color: rgba(255,200,200,0.3);
			margin: 0.5% 20%;
			padding: 0px 0px 1% 0px; 
		}
		
		header nav ul {
			list-style-type: none;
			background-color: rgba(255,255,200,0.3);
			text-align: left;
			width: 93%;
			margin: auto}
		
		#content { 
			display: inline-flex;
			padding: 2% 0px 0px 0px;
			width: 98%; 
			margin: 0px 0px 0px 1%; }
		
		nav li {
			display: inline;
			;}
		
		nav li a {
		}
		
		main{
			border: 1px black solid;
			background-color: rgba(200,200,255,0.3);
			width: 70%; }
		
		aside{
			border: 1px black solid;
			background-color: rgba(200,255,200,0.3);
			width: 30%; 
			float: right;}
		
		body article {
			background-color: rgba(200,200,200,0.6);
			}
		
		header {
		 text-align: center; 
		 padding: 2% 0px 0px 0px; }
		
		footer {
			background-color: rgba(255,255,200,0.3);
			text-align: center;
			position: relative;
			margin: 0px 0px 1% 0px;
			width: 98%;
			margin: auto;}
	